{% extends 'base.html' %}
{% block title %} Pets {% endblock %}
{% block content %}
<h1>Pets</h1>
<!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class = "alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %} -->
<ul>
  {% for pet in pets %}
    <li>
      <div>
        <img width="100" height = "100" src="{{ pet.photo_url }}">
        <p>{{ pet.name }} {% if pet.available %}<b>is available!</b>{% endif %}</p>
      </div>
    </li>
  {% endfor %}
</ul>
<form action="/add">
  <button class="btn btn-primary mt-3">Add Pet</button>
</form>
{% endblock %}